<p id="notice"><%= notice %></p>

<p>
  <strong>Star:</strong>
  <%= @usercommentrating.star %>
</p>

<%= link_to 'Edit', edit_usercommentrating_path(@usercommentrating) %> |
<%= link_to 'Back', usercommentratings_path %>
