<h1>Editing Comment</h1>

<%= render 'form', comment: @comment %>

<%= link_to 'Show', topic_post_comment_path(@topic, @post, @comment) %> 
<%= link_to 'Back', topic_post_comments_path(@topic, @post)%>
