<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<% if can? :update,@comment%>
<%= link_to 'Edit', edit_topic_post_comment_path(@topic, @post, @comment) %> |<%end%>
<%= link_to 'Back', topic_post_comments_path(@topic, @post) %>
